
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
:root{
    font-size: 100%;
    background: #F7FFFF;
    font-size: 16px;
    line-height: 1.5;
    --primary-blue: #006296;
}
body{
    padding: 0;
    margin:0;
    font-family: Poppins, sans-serif;
    font-weight: 500;

}
h1{
    font-size: 2.25rem;
    font-weight: 700;

}
h2{
    font-size: 1.5rem;
    font-weight: 700;

}
a{
    text-decoration: none;
    color: var(--primary-blue);
}
a:hover{
    text-decoration: underline;
}
.small{
    font-size: 90%;
    text-align: center;
}
.split-screen{
    display: flex;
    flex-direction: column;
}
.left{
    height: 200px;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.left{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(../images/login1.jpg);
    background-size:cover;

}
.left .copy{
    color: white;
  
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.03em;

   
}
.left p{
    font-weight: 400;
}
.right .copy{
    color: black;
    text-align:center;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875;
}
.right .copy h2{
    position:static;
    
    font-weight: 500;
    font-size: 34px;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #030303;
}
.right .copy p{
    font-weight: 400;
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;

color: #636364;
}
.right form{
    width: 328px;
}
form input[type="text"],
form input[type="password"]{
    display: 100%;
    width: 100%;
    box-sizing:border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #181818;
}
.input-container.password {
    position: relative;
}
.input-container.password i.icon{
    position: absolute;
    top: 50px;
    right: 16px;
}
.input-container.password i.showhidepw{
    position: absolute;
    top: 50px;
    right: 16px;
}

.input-container .cta{
    display: flex;
    flex-direction: row;
}

.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width:0;
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
    box-sizing: border-box;
    
}
.checkbox-container input:checked~.checkmark{
background-color: var(--primary-blue);
border: 1px solid var(--primary-blue);

}
.checkmark{
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    top: -4px;
    left: 0;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked~.checkmark:after{
    display: block;
}
.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}
.signup-btn{
    background-color: #F7FFFF;
    display: block;
    width: 100%;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
    color:white;
}
.error{
    background: #f2dede;
    color: #a94442;
    width: 75%;
    height: 30px;
    padding: 10px 0;
    border-radius: 15px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}




