@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
:root{
    font-size: 100%;
    background: #F7FFFF;
    font-size: 16px;
    line-height: 1.5;
}
@media screen and (min-width:900px) {
    body{
        padding: 0;
        margin:0;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    
    }
}
.main-content{
    margin-left: 250px;
 }
 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

 }
 .header h2{
   padding-right: 20%;
    color: #006296;

 }
 .header label span{
    font-size: 1.7rem;
    padding-left: 1rem;

 }
 .search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
 }.user-wrapper{
    display: flex;
    align-items: center;
    margin-right: 30px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 50px;
}
.right{
    display:table-cell;
    padding-left: 300px;
}
main{
    margin-top:30px;
    margin-bottom:30px;
    padding: 2rem 1.5rem;
    background: #f4f7fa;
    min-height: calc(90vh - 90px);
    border: 0px;
    border-radius: 1rem;
    margin-right: 30px;
 }
nav{
    margin: 0px 20px;
    margin-top: 30px;
    height: 80px;
    width: 700px;
  }
 nav ul{
    float: right;
    margin-right: 20px;}
 
 
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #FFFFFF;
    font-size: 17px;
    padding: 4px 50px;
    border-radius: 30px;
    background: #006296;
  }
  a.active{
    color: #006296;
    font-weight: 400;
    background: #FFFFFF;
    transition: .5s;
  }
  a:hover{
    color: #006296;
    font-weight: 400;
    background: #FFFFFF;
  }


a.create-btn{
    
    text-align: center;
    background-color: #F7FFFF;
    display: block;
    width:200px;
    color:#006296;
    font-weight: 600;
    border:2px solid #006296;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
   

}
a.create-btn:hover{
    background: #006296;
    cursor: pointer;
    color:#F7FFFF;
}
.update-btn{
    background-color: #F7FFFF;
    display: block;
    width:60px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.5px;

}
.update-btn:hover{
    background: #006296;
    cursor: pointer;
    color:white;
}
.delete-btn{
    background-color: #F7FFFF;
    display: block;
    width:80px;
    color:#FF0404;
    font-weight: 700;
    border:2px solid #FF0404;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.5px;

}
.delete-btn:hover{
    background: #FF0404;
    cursor: pointer;
    color:white;
}
a{
    text-decoration: none;
    color: #006296;
}
table.list{
    margin: 20px;
    padding: 10px;
    width: 96%;
    border-collapse: collapse;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}
table.list th{
    padding: 10px;
    font-weight: bold;
    text-align: left;
    background-color:#308C83;
    color: #ebe7e7;
}
table.list tr{
    padding: 10px;
    font-weight: bold;
    text-align: left;

    color: #ebe7e7;
}

table.list td{
    padding: 10px;
    height: 25px;
    font-size: 14px;
    color: #006296;
}

table.list tr:nth-child(even){
    background-color: #D7F0ED;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
