
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
.logo{
    flex: 20%;
    position: absolute;
    top: 10px;
    left: 60px;
    width: 80px;
    height: 80px;
    
  }
  
.sidebar{
    position: fixed;
    height: 100%;
    width: 230px;
    background: #308C83;
}
.sidebar .logo-details{
   margin-bottom: 30px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar{
   width: 230px;
   height: 100%;
   position: fixed;
   background-color: #308C83;
}
.sidebar span{
   margin: 0px 10px 8px 0px;
}
.sidebar a{
   padding: 15px;
   padding-right: 25px;
   display: block;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 16px;
   font-weight: 0.75rem;
   transition: 0.2s;
}

.sidebar a:hover{
   background-color: #FFFFFF;
   color : #308C83;
}
.sidebar a:active{
   background-color: #FFFFFF;
   color : #308C83;
}
.active{
   background-color: #FFFFFF;
   color : #308C83;
}
 .main-content{
   
    margin-left: 250px;
 }
 .header{
    display:grid;
    position:sticky;
    grid-template-columns: 300px 600px auto auto;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
 }
 .header h2{
   padding-right: 20%;
    color: #006296;

 }
 .header label span{
    font-size: 1.7rem;
    padding-left: 1rem;

 }
 .search-wrapper{
   border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 80%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
   
 }.user-wrapper{
    display: flex;
    align-items: center;
    margin-right: 3px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }
 .sub-menu-wrap{
   position: absolute;
   top: 100%;
   right: 10%;
   width: 320px;
   

 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 20px;
}
main{
   margin-top:30px;
   margin-bottom:30px;
   padding: 2rem 1.5rem;
   background: #f4f7fa;
   min-height: calc(90vh - 90px);
   border: 0px;
   border-radius: 1rem;
   margin-right: 30px;
}
.cards{
   display: grid;
   grid-template-columns:repeat(4,1fr);
   grid-gap:2.5rem ;
   margin-top: 1rem;
}
.card-single{
   display: flex;
   justify-content: space-between;
   background: #D7F0ED;
   padding: 2rem;
   border: 1px;
   border-radius: 20px;
}
.card-detail{
   color: #006296;
}
.card-single i:first-child{
   font-size:3rem ;
}
.card-single i:last-child{
   color:#006296;
}
.cards-2{
   display:flex;
   grid-template-columns:repeat(2,1fr);
   grid-gap:2.5rem ;
   margin-top: 1rem;
   color: #006296;
}
.card-single-2{
   display: table;
   justify-content: space-between;
   background: #D7F0ED;
   padding: 2rem;
   border: 1px;
   border-radius: 20px;
}
.title {
   display: flex;
   align-items: center;
   justify-content: space-around;
   padding: 15px 10px;
   border-bottom: 2px solid #999;
}
table {
   padding: 10px;
}

th,
td {
   text-align: left;
   padding: 8px;
}
.cal{
   background-color: #D7F0ED;
   width: 30%;
   border-radius: 20px;
   margin: 20px auto;
   padding: 20px;
   font-weight: bold;
   color: #006296;
   cursor: pointer;
}

.cal:hover{
   box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.cal h2{
   text-align: center;
}
span.not{
   background:red;
   padding:3px;
   border-radius:100px;
   color:white;
   position:absolute;
   font-weight:bold;
   font-size:small;
}