*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
.split-screen{
    display: flex;
    flex-direction: column;
}
.left{
    height: 200px;
}
.left, .right{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.left{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5)),url(../images/login1.jpg);
    background-size:cover;

}
h2{
    font-size: 1.5rem;
    font-weight: 700;

}
.left .copy{
    color: white;
  
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    letter-spacing: 0.03em;

   
}
.left p{
    font-weight: 400;
}
.right .copy{
    color: black;
    text-align:center;
}
.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875;
}
.right .copy h2{
    position:static;
    
    font-weight: 500;
    font-size: 34px;
    line-height: 0px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #030303;
}
.right .copy p{
    font-weight: 400;
    font-size: 10px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.03em;

color: #636364;
}

.right form{
    width: 328px;
}
form input[type="text"],
form input[type="password"]{
    display: 100%;
    width: 100%;
    box-sizing:border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}

label{
    display: block;
    margin-bottom: 1rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #181818;
}
.input-container.password {
    position: relative;
}

.signup-btn{
    background-color: #F7FFFF;
    display: block;
    width: 100%;
    color:#006296;
    font-weight: 500;
    border:2px solid #006296;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
    color:white;
}
.error {
   background: #F2DEDE;
   color: #A94442;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

.success {
   background: #D4EDDA;
   color: #40754C;
   padding: 10px;
   width: 95%;
   border-radius: 5px;
   margin: 20px auto;
}

h1 {
	text-align: center;
	color: #fff;
}

.ca {
	font-size: 14px;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	color: #444;
}
.ca:hover {
	text-decoration: underline;
} 
@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}
