*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
.main-content{
    margin-left: 250px;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
 }
 header h2{
   /* padding-right: 20%; */
    color: #006296;

 }
 header label span{
    font-size: 1.7rem;
    padding-left: 1rem;

 }
 .right{
   display:table-cell;
   padding-left: 300px;
}
 .search-wrapper{
   border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
 }.user-wrapper{
   display: flex;
   align-items: center;
   margin-right: 3px;
   position: absolute;
 top: 3px;
 right: 3px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 50px;
}
a.create-btn{
   text-align: center;
   background-color: #F7FFFF;
   display: block;
   width:150px;
   height: 50px;
   color:#006296;
   font-weight: 700;
   border:2px solid #006296;
   margin: 2rem 2rem;
   padding-left: 0;
   padding-right: 0;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   border-radius: 8px;
   font-size: 0.75rem;
   text-transform: uppercase;
   letter-spacing: 0.5px;

}
a.create-btn:hover{
   background: #006296;
   cursor: pointer;
   color:#F7FFFF;
}
a{
   text-decoration:underline;
   color: #006296;
}
.head-btn{
   display: flex;
}
nav{
   margin: 0px 0px;
   margin-top: 30px;
   height: 80px;
   width:100%;
 }
nav ul{
   margin-right: 20px;}


 nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
 }
 nav ul li a{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 17px;
   padding: 4px 50px;
   border-radius: 30px;
   background: #006296;
 }
 nav ul li a:hover{
   color: #006296;
   font-weight: 400;
   background: #F7FFFF;
 }
 a.active{
   color: #006296;
   font-weight: 400;
   background: #F7FFFF;
   transition: .5s;
 }
 a:hover{
   color: #006296;
   font-weight: 400;
   background: #D7F0ED;
 }
 .cards-2{
   display: table;
   grid-template-columns:repeat(4,1fr);
   grid-gap:2.5rem ;
   margin-top: 1rem;
   color: #006296;
}
.card-single-2{
   display: table;
   width: 70rem;
   justify-content: space-between;
   background: #D7F0ED;
   padding: 5rem 8rem;
   border: 1px;
   border-radius: 20px;
}
.title {
   display: flex;
   align-items: center;
   justify-content: space-around;
   /* padding: 15px 10px; */
   border-bottom: 2px solid #999;
}
table {
   width: 100%;
   padding: 10px;
}

th,
td {
   text-align: left;
   padding: 6px;
}
span.not{
   background:red;
   padding:3px;
   border-radius:100px;
   color:white;
   position:absolute;
   font-weight:bold;
   font-size:small;
}


