@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
:root{
    font-size: 100%;
    background: #F7FFFF;
    font-size: 16px;
    line-height: 1.5;
}
@media screen and (min-width:900px) {
    body{
        padding: 0;
        margin:0;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    
    }
}
.right{
    display: grid;
    padding-left: 300px;

}


.create-btn{
    background-color: #F7FFFF;
    display: block;
    width:200px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    margin: 2rem 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.create-btn:hover{
    background: #2c4893;
    cursor: pointer;
    color:white;
}
.update-btn{
    background-color: #F7FFFF;
    display: block;
    width:60px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    margin: 2rem 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.update-btn:hover{
    background: #2c4893;
    cursor: pointer;
    color:white;
}
.delete-btn{
    background-color: #F7FFFF;
    display: block;
    width:60px;
    color:#FF0404;
    font-weight: 700;
    border:2px solid #FF0404;
    margin: 2rem 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.delete-btn:hover{
    background: #FF0404;
    cursor: pointer;
    color:white;
}
a{
    text-decoration: none;
    color: #006296;
}
.table{
    align-items: center;
    border-collapse: collapse;
    color: #006296;
    margin: 25px 0;
    font-size: 0.9em;
    width:100%;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 5px 5px;
}
.table th,
.table td {
    padding: 6px 7px;
}
.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
