*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
        --primary-blue: #006296;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
.main-content{
    margin-left: 250px;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
 }
 header h2{
   padding-right: 20%;
    color: #4f4d4d;

 }
 header label span{
    font-size: 1.7rem;
    padding-left: 1rem;

 }
 .right{
   display:table-cell;
   padding-left: 300px;
}
 .search-wrapper{
    border: 1px;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
 }.user-wrapper{
    display: flex;
    align-items: center;
    margin-right: 30px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 50px;
}
nav{
   margin: 0px 20px;
   margin-top: 30px;
   height: 80px;
   width: 700px;
 }
nav ul{
   position: absolute;
   float: right;
   margin-right: 20px;}


 nav ul li{
   display: inline-block;
   line-height: 80px;
   margin: 0 5px;
 }
 nav ul li a{
   text-decoration: none;
   color: #FFFFFF;
   font-size: 17px;
   padding: 4px 50px;
   border-radius: 30px;
   background: #006296;
 }
 nav ul li a:hover{
   color: #006296;
   font-weight: 400;
   background: #F7FFFF;
 }
 a.active{
   color: #006296;
   font-weight: 400;
   background: #F7FFFF;
   transition: .5s;
 }
.cards-2{
    display: table;
    grid-template-columns:repeat(4,1fr);
    grid-gap:2.5rem ;
    margin-top: 1rem;
    color: #006296;
 }
 .card-single-2{
    display: table;
    width: 70rem;
    justify-content: space-between;
    background: #D7F0ED;
    padding: 5rem 8rem;
    border: 1px;
    border-radius: 20px;
 }
 .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 15px 10px; */
    border-bottom: 2px solid #999;
 }
 table {
    width: 100%;
    padding: 10px;
 }
 
 th,
 td {
    text-align: left;
    padding: 8px;
 }
 .input-container .cta{
    display: flex;
    flex-direction: row;
}

.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width:0;
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    /* margin: 0 0 1.25rem 0; */
    box-sizing: border-box;
    
}
.checkbox-container input:checked~.checkmark{
background-color: var(--primary-blue);
border: 1px solid var(--primary-blue);

}
.checkmark{
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    top: -10px;
    left: 0;
}
.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked~.checkmark:after{
    display: block;
}
.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}