*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:900px) {
body{
  
        background: #F7FFFF;
    }
}
.container{
    margin-top: 20px;
    margin-left: 200px;
    
}
.main-content{
    margin-left: 250px;
 }
 .header{
   display:grid;
   position:sticky;
   grid-template-columns: 300px 600px auto auto;
   align-items: center;
   padding: 10px;
   box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}
.header h2{
  padding-right: 20%;
   color: #006296;

}
.header label span{
   font-size: 1.7rem;
   padding-left: 1rem;

}
 .search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
 }.user-wrapper{
   display: flex;
   align-items: center;
   margin-right: 3px;
   position: absolute;
 top: 3px;
 right: 3px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 50px;
}
main{
    margin-top:30px;
    margin-bottom:30px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(90vh - 90px);
    border: 0px;
    border-radius: 1rem;
    margin-right:30px;
 }
.cards-2{
    display:inherit;
    grid-template-columns:repeat(2,1fr);
    grid-gap:2.5rem ;
    margin-top: 1rem;
    color: #006296;
 }
 .card-single-2{
    display: table;
    justify-content: space-between;
    background: #D7F0ED;
    padding:5px;
    border: 1px;
    margin-bottom: 2rem;
    border-radius: 20px;
 }
 .cards-3{
    display:flex;
    grid-template-columns:repeat(2,1fr);
    grid-gap:2.5rem ;
    margin-top: 1rem;
    color: #006296;
 }
 .card-single-3{
    display: table;
    justify-content: space-between;
    background: #D7F0ED;
    border: 1px;
    margin-bottom: 2rem;
    border-radius: 20px;
 }
 .title {
    display: flex;
    align-items:center;
    justify-content:left;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
 }
 .list{
    padding: 0;

}
.line{
    margin-top: 10px;
    margin-bottom: 1rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7F0ED;
    /* padding: 0.5rem 1rem; */
    border-radius: 30px;
    cursor: pointer;

}

h3.name,h4.name{
   
    color: #006296;
    line-height: 30px;
    padding-bottom: 1rem;
}
h4{
    color: #9b9d9d;
    text-align: center;
    line-height: 30px;
    padding-bottom: 1rem;
}
.content{
    font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #006296;
}
.content p{
    font-size:0.8rem;
    line-height: 30px;

}

.hospital{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.profile{
    display: flex;
    align-items: center;

 }
 .profile img{
    border-radius: 50%;

 }
.hospital .details{
    margin-left: 15px;
    line-height: 1.5;
    text-transform: capitalize;


}
table {
   
    padding: 10px;
 }
 
 th,
 td {
    text-align: left;
    padding-right: 40px;
 }

a.create-btn{
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: #F7FFFF;
    display: block;
    width:200px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
   

}
a.create-btn:hover{
    background: #006296;
    cursor: pointer;
    color:white;
}