@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
:root{
    font-size: 100%;
    background: #F7FFFF;
    font-size: 16px;
    line-height: 1.5;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
body{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: 100%;
}
.form_content{
    margin: 20px;
    background: #D7F0ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 500px;
    border-radius: 1rem;

}
h2{
    font-size: 1.5rem;
    font-weight: 700;
    color :#006296;

}


.form_form{
    width: 300px;
    padding: 1px 1px 1px 1px;
}


form input[type="text"],
form input[type="email"],
form input[type="tel"]

{
    display: 50%;
    width: 100%;
    box-sizing:border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border-radius: 12px;
}


label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #006296;
}

.create-btn{
    background-color: #F7FFFF;
    display: block;
    width: 50%;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    margin: 2rem 2rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;

}
.create-btn:hover{
    background: #2c4893;
    cursor: pointer;
    color:#F7FFFF;
}
