*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@media screen and (min-width:900px) {
    body{
        min-height: 100vh;
        width: 100%;
        background: #F7FFFF;
    }
}
.main-content{
    margin-left: 250px;
 }
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
 }
 header h2{
   padding-right: 20%;
    color: #4f4d4d;

 }
 header label span{
    font-size: 1.7rem;
    padding-left: 1rem;

 }
 .right{
   display:table-cell;
   padding-left: 300px;
}
 .search-wrapper{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 40px;
    width: 30%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }
 .search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size:1.5rem ;
 }
 .search-wrapper input{
    height: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
 }.user-wrapper{
    display: flex;
    align-items: center;
    margin-right: 30px;
 }
 .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
 }

 .box-icon{
    display: flex;
    font-size: 2rem;
    justify-content:space-between;
 }
.box-icon .item{
   padding-right: 50px;
}
.right{
    display:table-cell;
    padding-left: 300px;
 }
 .list{
    padding: 1rem;

}
.line{
    margin-top: 10px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D7F0ED;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    cursor: pointer;

}

h3.name,h4.name{
   
    color: #006296;
    line-height: 30px;
    padding-bottom: 1rem;
}
h4{
    color: #9b9d9d;
    text-align: center;
    line-height: 30px;
    padding-bottom: 1rem;
}
.content{
    font-weight: 400;
font-size: 14px;
line-height: 19px;
color: #006296;
}
.content p{
    font-size:0.8rem;
    line-height: 30px;

}

.hospital{
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.profile i{
    font-size: 3rem;
     object-fit: cover;
}
.hospital .details{
    margin-left: 15px;
    line-height: 1.5;
    text-transform: capitalize;


}
a.create-btn{
    text-decoration: none;
    text-align: center;
    background-color: #F7FFFF;
    display: block;
    width:200px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
   

}
a.create-btn:hover{
    background: #006296;
    cursor: pointer;
    color:white;
}
table {
    width: 100%;
    padding: 10px;
 }
 
 th,
 td {
    text-align: left;
    padding-right: 50px;
 }
 .update-btn{
    background-color: #F7FFFF;
    display: inherit;
    width:60px;
    color:#006296;
    font-weight: 700;
    border:2px solid #006296;
    padding:18px;
    border-radius: 8px;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;

}
.update-btn:hover{
    background: #006296;
    cursor: pointer;
    color:white;
}
 