*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.form-div{
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image{
  flex: 60%;
  background-color: #f1f1f1;
  padding: 20px;
  background-image: url(../images/th.jpg);
  background-position: center;
  background-size: cover;
}

.form-box{
  flex: 40%;
  background-color: white;
  padding: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:space-between;
}

.heading{
  width: 300px;
  height: 50px;
  margin: 0 auto;
  border-radius: 30px;
  text-align: center;
}

.title{
  color: #555;
  font-size: 30px;
  font-weight: bolder;
}

p{
  text-align: center;
  font-size: 12px;
  margin-bottom: 20px;
}

.input-label{
  font-size: 16px;
  display: block;
  text-align: left;
}

.input-field{
  display: flex;
  width: 100%;
  margin: 15px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  font-size: 14px;
}

.submit-btn{
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: rgb(56, 200, 188);
  color: black;
  text-decoration: none;
  border-radius: 15px;
  font-size: 16px;
  font-weight: bold;
}

.submit-btn:hover{
    background: rgb(11, 37, 125);
    cursor: pointer;
    color: #fff;
}

.cr{
  right: 10px;
  bottom: 10px;
  text-align: center;
  color: #777;
  font-size: 12px;
  position: fixed;
}

.error{
  background: #f2dede;
  color: #a94442;
  width: 50%;
  height: 40px;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.fp{
  text-decoration: none;
  color: #00c0E6;
  font-size: 17px;
}
