body{
    margin: 0;
    background-color: #F7FFFF;
    font-family: 'Poppins', sans-serif;
}

.top-nav{
    display:grid;
    position:sticky;
    margin-left: 220px;
    grid-template-columns: 300px 600px auto auto;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}

.head h1{
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 20px;
    padding: 10px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }

 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.top{
    position: relative;
    display: flex;
    float: right;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.top span{
    padding-left: 10px;
    cursor: pointer;
}

.top p{
    font-size: 14px;
    margin: 5px 0px 20px 10px;
}

.top .Loggedin{
    padding-left: 20px;
}

.board{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 240px;
    margin-top:20px;
    width: 80%;
    height: 550px;
    background-color: #f4f7fa;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.counts1{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.counts2{
    display: flex;
    margin: 10px;
    width: 50%;
    justify-content: center;
}

.counts1::-webkit-scrollbar {
  display: none;
}

.counts1:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

button{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #D7F0ED;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #006296;
    cursor: pointer;
}

.box a{
  text-decoration: none;
  color: #006296;
}

th{
  text-align: center;
  height: 50px;
  width: 300px;
  color: #ffffff;
  background: #308C86;
}

table{
  margin:0;
  width: 100%;
}

tr{
  text-align: center;
  height: 20px;
  width: 200px;
  background: #D7F0ED;
}

h3{
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #006296;
}

.selected{
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 5px;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #006296;
    /*line-height: 10px;*/
}

.selected .box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.not-selected{
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: 5px;
    background: #006296;
    border-radius: 20px;
    border: none;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /*line-height: 10px;*/
}

a.not-selected{
  color: #ffffff;
  text-decoration: none;
}

.not-selected .box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}
