body{
    margin: 0;
    background-color: #F7FFFF;
    font-family: 'Poppins', sans-serif;
}

.top-nav{
    display:grid;
    position:sticky;
    margin-left: 220px;
    grid-template-columns: 300px 600px auto auto;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}

.head h1{
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 20px;
    padding: 10px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }

 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.top{
    position: relative;
    display: flex;
    float: right;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.top span{
    padding-left: 10px;
    cursor: pointer;
}

.top p{
    font-size: 14px;
    margin: 5px 0px 20px 10px;
}

.top .Loggedin{
    padding-left: 20px;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 20px;
    width: 80%;
    height: 600px;
    background-color: #f4f7fa;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.data{
    background-color: #D7F0ED;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: 70%;
}

.match{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    background-color: #D7F0ED;
    border-radius: 20px;
    width: 30%;
}

h4{
    font-size: 16px;
    margin: 0;
    font-weight: bold;
    color: #006296;
    text-align: center;
}

#view{
  color: #009879;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  border-color: #009879;
}

#view:hover{
  background: #009879;
  color: White;
}

#view a{
  text-decoration: none;
  color: #009879;
  width: 60px;
  height: 30px;
}

#view a:hover{
  color: white;
}

.pd tr{
  height: 20px;
  background: #D7F0ED;
  color: #006296;
}

.pd td{
  width: 120px;
  padding: 0 10px;
  font-size: 15px;
}

.patient-details{
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.patient-diseases{
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
}

.selected-donors{
  background: white;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  overflow-y: scroll;
  height: 500px;
}

.selected-donors::-webkit-scrollbar {
  display: none;
}

.buttons{
  background: white;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 17%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons a{
  text-decoration: none;
  color: #006296;
}

.buttons:hover{
  background: #006296;
  color: white;
}

.buttons a:hover{
  color: white;
}

.dd tr{
  height: 35px;
  background: #D7F0ED;
  color: #006296;
}

.dd td{
  width: 120px;
  padding: 0 10px;
  text-align: center;
  font-size: 14px;
}

.long{
  width: 160px;
  padding: 0 10px;
  text-align: center;
}

.dd th{
  text-align: center;
  height: 35px;
  color: #ffffff;
  background: #308C86;
}

table{
  width: 100%;
}

a.view {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #009879;
    background: white;
    width: 60px;
    height: 20px;
    padding: 2px;
    text-align: center;

    border: 1px solid #009879;
    border-radius: 10px;
}

a.view:hover {
    color: white;
    background: #009879;
}
