*{
  box-sizing: border-box;
}

.form-div{
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image{
  flex: 70%;
  background-color: #f1f1f1;
  padding: 20px;
  background-image: url(../images/th.jpg);
  background-position: center;
  background-size: cover;
}

.form-box{
  flex: 30%;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:space-between;
}

.heading{
  width: 320px;
  margin: 35px auto;
  box-shadow: 0 0 20px 9px #B0E0E6;
  border-radius: 30px;
  text-align: center;
}

.title{
  color: #555;
  font-size: 40px;
  font-weight: bolder;
}

.input-label{
  font-size: 25px;
  display: block;
  text-align: left;
}

.input-field{
  display: flex;
  width: 100%;
  margin: 15px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  font-size: 20px;
}

.submit-btn{
  width: 45%;
  cursor: pointer;
  display: block;
  background: #ADD8E6;
  border-color: #006296;
  margin: auto;
  outline: none;
  border-radius: 30px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.submit-btn:hover{
  opacity: .7;
}

.cr{
  right: 10px;
  bottom: 10px;
  text-align: center;
  color: #777;
  font-size: 12px;
  position: fixed;
}

.error{
  background: #f2dede;
  color: #a94442;
  width: 85%;
  height: 40px;
  padding: 10px 0;
  border-radius: 15px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
