*{
  box-sizing: border-box;
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top{
  flex: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items:space-between;
  overflow: hidden;
}

.bottom{
  height: 60px;
  flex: 10%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:space-between;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #006296;
  width: 100%;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

.profile{
  height: 50px;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 20px;
}

abbr{
  text-decoration: none;
}

.greet{
  display: flex;
  justify-content: space-between;
}

.greet-text{
  text-align:center;
  font-size: 16px;
  color: gray;
}

.profile .material-icons{
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.profile .material-icons:hover{
  color: black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

.rtop{
  flex: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.empty{
  flex: 70%;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.empty p{
  text-align: justify;
  font-size: 20px;
  color:#888;
  font-weight:bolder;
}

.middle{
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 20px;
  overflow: hidden;
}

h2{
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.rbottom{
  display: flex;
  flex: 100%;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 20%;
  font-size: 20px;
  margin: 20px;
  margin-left: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: green;
  position: absolute;
  top: 40px;
}

.add:hover{
  opacity: .7;
}

.add a{
  display: flex;
  height: 50px;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
}

.mid-bottom{
  overflow-y: scroll;
  position: absolute;
  top: 130px;
  bottom: 70px;
  left: 50px;
  right: 50px;
}

table{
  border-collapse: collapse;
  width: 100%;
  color: #308C83;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

th{
  background: #308C83;
  color: white;
  height: 60px;
}

tr{
  height: 50px;
}

tr:nth-child(even){
  background: #DBFFFC;
  color: #308C83;
}

#btn-update{
  background: blue;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  margin: 0 2px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

#btn-delete{
  background: red;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  margin: 0 2px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

#btn-update:hover{
  opacity: .7;
}

#btn-delete:hover{
  opacity: .7;
}

#btn-view{
  background: green;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 8px;
  margin: 0 2px;
  width: 80px;
  border: none;
  border-radius: 5px;
}

#btn-view:hover{
  opacity: .7;
}
