body{
    margin: 0;
    background-color: #F7FFFF;
    font-family: Poppins, sans-serif;
}

.head h1{
    position: absolute;
    display: flex;
    margin-left: 260px;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 280px;
    padding-top: 20px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }

 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 20px;
}

.counts1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.counts1 .box{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    border: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #006296;
    overflow-y: scroll;
    /*line-height: 10px;*/
}

.box::-webkit-scrollbar {
  display: none;
}

.counts1 .box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

th{
  text-align: center;
  height: 50px;
  color: #ffffff;
  background: #308C86;
}

table{
  margin:0;
  width: 100%;
}

td{
  text-align: center;
  height: auto;
  width: 200px;
  background: #D7F0ED;
}

a.butt {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: #009879;
    background: white;
    width: 60px;
    height: 25px;
    padding: 2px;
    text-align: center;

    border: 1px solid #009879;
    border-radius: 10px;
}
