/*common for all*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  height: 100%;
  width: 100%;
  background:#fff;
  position:absolute;
  display: flex;
  flex-direction: column;
}

.bottom{
  position: absolute;
  bottom: 0;
  background-color: #006296;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

/*Common for main pages*/
.top{
  width: 100%;
  display: flex;
}

.right{
  width: 1406px;
  height: 692px;
  position: relative;
  background:#fff;
  display: flex;
}

.rtop{
  width: 1425.5px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.profile .material-symbols-outlined{
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.profile .material-symbols-outlined:hover{
  background-color: #ff9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

.greet{
  width: 120px;
}

.greet-text{
  color: #000;
  text-align:center;
}

abbr{
  text-decoration: none;
  margin: 5px;
}

.empty{
  width: 1000px;/*+281px*/
  height: 100px;
}

.left{
  width: 281px;
  height: 733px;
  position: relative;
  background: #308C83;
  display: flex;
  flex-direction: column;
}

.logo{
  position: absolute;
  top: 5px;
  left:35%;
  width: 80px;
  height: 80px;
}

.tabs{
  position: absolute;
  top: 100px;
  width: 100%;
  height: 580px;
  flex-direction: column;
}

.left .hi{
    padding: 15px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.left .hi:hover{
    background-color: #FFFFFF;
    color : #308C83;
}

.left p .hi:hover{
    background-color: #81efe4;
    color: black;
}

.left .hi-selected{
    padding: 15px;
    display: block;
    color: #308C83;
    background: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
