*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
    margin: 0;
    background-color: #F7FFFF;
    font-family: 'Poppins', sans-serif;
}

.top-nav{
    display:grid;
    position:sticky;
    margin-left: 220px;
    grid-template-columns: 300px 600px auto auto;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}

.head h1{
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 20px;
    padding: 10px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }

 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.top{
    position: relative;
    display: flex;
    float: right;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.top span{
    padding-left: 10px;
    cursor: pointer;
}

.top p{
    font-size: 14px;
    margin: 5px 0px 20px 10px;
}

.top .Loggedin{
    padding-left: 20px;
}

.board{
    display: flex;
    align-items: center;
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    height: 550px;
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 30px;
}

.descript{
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 100%;
  height: 550px;
  padding: 15px;
  overflow-y: scroll;
}

.box-topic{
  height: 50px;
  font-size: 20px
}

.box{
  height: 25px;
  border-top: 1px solid gray;
  margin: 2px;
}

.box a{
  text-decoration: none;
  color: #006296;
  width: 100%;
}

.box a:hover{
  color: blue;
  text-decoration: underline;
}

a{
  text-decoration: none;
  color: black;
  width: 100%;
}

a:hover{
  color: blue;
}

h1{
  text-align: center;
}
