*{
  box-sizing: border-box;
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top{
  flex: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items:space-between;
  overflow: hidden;
}

.middle{
  flex: 80%;
  display: flex;
  align-items: center;
  position: absolute;
  top: 100px;
  bottom: 60px;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.bottom{
  height: 60px;
  flex: 10%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:space-between;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #006296;
  width: 100%;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

.empty{
  flex: 70%;
  font-size: 10px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.profile{
  flex: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

abbr{
  text-decoration: none;
  margin: 5px;
}

.greet{
  width: 120px;
}

.greet-text{
  color: #000;
  text-align:center;
}

.profile .material-symbols-outlined{
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.profile .material-symbols-outlined:hover{
  background-color: #ff9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}
