*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.middle{
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  bottom: 60px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background: #006296;
}

.bottom{
  height: 60px;
  flex: 10%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:space-between;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #006296;
  width: 100%;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

.profile{
  height: 50px;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 20px;
}

abbr{
  text-decoration: none;
}

.greet{
  display: flex;
  justify-content: space-between;
}

.greet-text{
  text-align:center;
  font-size: 16px;
  color: gray;
}

.profile .material-icons{
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.profile .material-icons:hover{
  color: black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

.rtop{
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.empty{
  flex: 70%;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.empty p{
  text-align: justify;
  font-size: 20px;
  color:#888;
  font-weight:bolder;
}

.rbottom{
  display: flex;
  flex: 100%;
  align-items:center;
  justify-content: center;
  text-align: center;
  background: #445678;
}

.form{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -52%);
  background: #fff;
  width: 400px;
  height: 550px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.title{
  transform: translate(0,0);
  text-align: center;
}

.title p{
  color: #308C83;
  font-size: 24px;
  font-weight: 900;
}

label{
  transform: translateY(22%);
  font-size: 14px;
  width: 80%;
  height: 23px;
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
  background: #308C83;
  color: #fff;
}

.form input{
  transform: translateY(20%);
  border: 1px solid #308C83;
  display: block;
  height: 27px;
  width: 80%;
  padding: 0 20px;
  margin: 0 0 10px 40px;
}

input:focus{
  outline: none;
}

.select{
  transform: translateY(20%);
  width: 80%;
  height: 27px;
  padding-left: 20px;
  margin: 0 0 10px 40px;
}

.select:focus option:first-of-type {
    display: none;
}

button{
  background: #308C83;
  color: #fff;
  font-size: 16px;
  width: 35%;
  height: 35px;
  cursor: pointer;
  border: none;
  margin: 0 10px;
}

.btns{
  transform: translateY(20%);
  display: flex;
  align-items: center;
  justify-content: center;
}

a{
  text-decoration: none;
  color: white;
}

::placeholder{
  position: relative;
  left: 5px;
  text-align: justify;
}
