/*common for all*/
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero{
  height: 100%;
  width: 100%;
  background:#fff;
  position:absolute;
  display: flex;
  flex-direction: column;
}

.top{
  width: 100%;
  display: flex;
}

.left{
  width: 281px;
  height: 692px;
  position: relative;
  background: #308C83;
  display: flex;
  flex-direction: column;
}

.logo{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100px;
  background: #fff;
  margin-bottom: 10px;
}

.tabs{
  width: 100%;
  height: 580px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.options{
  display:flex;
  width: 60%;
  height: 50px;
  margin: 10px 0;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 15px;
  font-size: 24px;
}

.empty-box{
  width: 100%;
  height: 300px;
}

.logout{
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*padding-top: 210px;*/
  margin-bottom: 30PX;
  border: 1PX SOLID #FFF;
  cursor: pointer;
}

.logout:hover{
  opacity: .7;
  background: #6495ED;
}

.material-symbols-rounded{
  float: right;
  color: #fff;
}

a{
  width: 50%;
  text-decoration:none;
  color: #fff;
  font-size: 24px;
}

.right{
  width: 1406px;
  height: 692px;
  position: relative;
  background:#fff;
  display: flex;
}

.bottom{
  background-color: #006296;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
}

.rtop{
  width: 1425.5px;
  height: 100px;
  display: flex;
}

.empty{
  width: 1125px;
  height: 100px;
}

.profile{
  width: 300.5px;
  height: 100px;
  display: flex;
}

.material-symbols-outlined{
  font-size: 48px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items:center;
  margin: auto;
}

.greet{
  margin: auto;
  width: 100px;
}

.pp{
  margin: auto;
}

.hi:hover{
  opacity: .7;
  padding: 15px;
  color: #308C83;
  border-radius: 15px;
}

.options:hover{
  background: #D7F0ED;
}
