*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top{
  flex: 15%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  align-items:space-between;
  overflow: hidden;
}

.bottom{
  flex: 10%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:space-between;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #006296;
  height: 60px;
  width: 100%;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

.profile{
  height: 60px;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 20px;
}

abbr{
  text-decoration: none;
}

.greet{
  display: flex;
  justify-content: space-between;
}

.greet-text{
  text-align:center;
  font-size: 16px;
  color: black;
}

.profile .material-icons{
  color: black;
  cursor: pointer;
  padding: 10px;
}

.rtop{
  flex: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.empty{
  flex: 50%;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.empty p{
  text-align: justify;
  font-size: 20px;
  color:black;
  font-weight:bolder;
}

.middle{
  flex: 85%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 20px;
  overflow: hidden;
}

h2{
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.rbottom{
  display: flex;
  flex: 100%;
  align-items:center;
  justify-content: center;
  text-align: center;
}

.add{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 13%;
  font-size: 17px;
  margin: 20px;
  margin-left: 180px;
  cursor: pointer;
  padding: 20px;
  border: 2px solid #006296;
  border-radius: 5px;
  background: White;
  position: absolute;
  top: 40px;
}

.add:hover{
  background: #006296;
}

.add a:hover{
  color: white;
}

.add a{
  color: #006296;
  display: flex;
  height: 50px;
  width: 100%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: white;
}

.mid-bottom{
  overflow-y: scroll;
  position: absolute;
  top: 130px;
  bottom: 80px;
  left: 200px;
  right: 200px;
}

table{
  border-collapse: collapse;
  width: 100%;
  color: #308C83;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}

th{
  background: #308C83;
  color: white;
  height: 45px;
  font-size: 18px;
}

tr{
  height: 40px;
  font-size: 17px;
  color: #006296;
  font-weight: bold;
}

tr:nth-child(even){
  background: #DBFFFC;
  color: #006296;
  font-weight: bold;
}

#btn-update{
  background: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 2px;
  width: 60px;
  height: 30px;
  border: 2px solid #006296;
  border-radius: 5px;
}

#btn-update a{
  height: 30px;
  width: 60px;
  color: #006296;
}

#btn-update a:hover{
  color: white;
}

#btn-delete{
  background: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 2px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 2px solid #FF0404;
}

#btn-update:hover{
  color: white;
  background: #006296;
}

#btn-delete a{
  height: 50px;
  color: #FF0404;
}

#btn-delete a:hover{
  color: white;
}

#btn-delete:hover{
  background: #FF0404;
}

#btn-view{
  background: white;
  text-decoration: none;
  font-size: 15px;
  margin: 0 2px;
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 2px solid #308C83;
}

#btn-view a{
  height: 50px;
  color: #308C83;
}

#btn-view a:hover{
  color: white;
}

#btn-view:hover{
  background: #308C83;
}
