*{
  box-sizing: border-box;
}

.hero{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.top{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 60px;
  flex: 90%;
  background-color: #f1f1f1;
  display: flex;
  align-items:space-between;
  overflow: hidden;
}

.bottom{
  flex: 10%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items:space-between;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #006296;
  height: 60px;
  width: 100%;
}

.bottom-input{
  width: 50%;
  justify-content: center;
  text-align:center;
  color: #fff;
  font-size: 14px;
}

.left{
  flex: 20%;
  background-color: #f1f1f1;
  position: relative;
  background: #308C83;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.right{
  flex: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:space-between;
  position: relative;
  right: 0;
}

.logo{
  flex: 20%;
  position: absolute;
  top: 5px;
  width: 80px;
  height: 80px;
}

.tabs{
  flex: 80%;
  position: absolute;
  top: 100px;
  width: 100%;
  height: 580px;
  display: flex;
  flex-direction: column;
}

.left .hi{
    padding: 15px;
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.left .hi:hover{
    background-color: #FFFFFF;
    color : #308C83;
}

.left p .hi:hover{
    background-color: #81efe4;
    color: black;
}

.profile{
  height: 50px;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 20px;
}

abbr{
  text-decoration: none;
}

.greet{
  display: flex;
  justify-content: space-between;
}

.greet-text{
  text-align:center;
  font-size: 16px;
  color: gray;
}

.profile .material-icons{
  color: gray;
  cursor: pointer;
  padding: 10px;
}

.profile .material-icons:hover{
  color: black;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border-bottom: none;
}

.rtop{
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.empty{
  flex: 70%;
  font-size: 30px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.empty p{
  text-align: justify;
  font-size: 20px;
  color:#888;
  font-weight:bolder;
}

.left .hi-selected{
    padding: 15px;
    display: block;
    color: #308C83;
    background: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.rbottom{
  flex: 85%;
  overflow-y: scroll;
  position:relative;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.session{
  margin: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{
  flex: 50%;
  height: 350px;
  width: 300px;
  background:#006296;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.box:hover{
  opacity: .5;
}

.image{
  height: 300px;
  width: 300px;
}

.text{
  height: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.description{
  flex: 50%;
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h3{
  color: #ffffff;
  font-size: 22px;
}

.description button{
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  background: #308C83;
  color: white;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}

.description button:hover{
  background: #8AD2CB;
  color: #256660;
}

.description p{
  font-size: 16px;
  text-align: justify;
}

@media (max-width:1050px) {
  .rbottom{
    flex-direction: column;
  }
  .rtop{
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .description{
    padding: 10px;
  }
}
