body{
    margin: 0;
    background-color: #F7FFFF;
    font-family: 'Poppins', sans-serif;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 20px;
    width: 80%;
    height: 550px;
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background: #d7f0ed;
}

.title h2{
  color: #006296;
  height: 15px;
}

.row{
  display: flex;
  height: 20px;
}

.row label{
  width: 250px;
  height: 30px;
}

select{
  width: 200px;
}

input{
  width: 200px;
}

textarea{
  width: 200px;
}

button{
  color: white;
  background: #308C83;
  width: 180px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin: 20px;
  cursor: pointer;
  font-size: 20px;
}
