body{
    background-color: #F7FFFE;
}

.donor-session-topic{
    color:#006296;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    position: absolute;
    /* width: 246px; */
    height: 36px;
    left: 384px;
    top: 59px;
}

.donor-card-details{
    margin-top:135px;
}
.session-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%;
    border-radius: 5px; */

    width: 959px;
    height: 227px;
    margin-top: 2%;
    margin-left: 384px;
    background: #D7F0ED;
    border-radius: 30px;
    display:flex;
    padding: 2%;
    gap:5%;
  }

  .donor-img{
    width:251px;
    height:90%;
  }

  .donor-session-details{
    color: #006296;
  }

  .donor-session-question{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  .donor-session-address{
    margin-top: 10%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
  }
  
  .donor-join-now-btn{
    margin-left: 62%;
    margin-top: 2%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* img {
    border-radius: 5px 5px 0 0;
  } */
  
  .container {
    padding: 2px 16px;
  }