body{
    background-color: #F7FFFE;
}


.container {
 
 margin-left: 200px;
}


.backboard{
  position: absolute;

  margin-top: 5px;
  margin-bottom: 880px;
  width: 1240px;
  height:870px;
  background-color: #f4f7fa;
  border-radius: 20px;
  margin-left: 50px;

}



/*

.donor-session-topic{
    color:#006296;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

    position: absolute;
    /* width: 246px; */
  /*
    height: 36px;
    left: 384px;
    top: 59px;
}
*/
.donor-card-details{
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 40px;
  
}
.session-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%;
    border-radius: 5px; */

    width: 1130px;
    height: 150px;
    margin-top: 2%;
    margin-bottom: 20px;
    background: #D7F0ED;
    border-radius: 30px;
    display:flex;
    padding: 2%;
    gap:5%;
  }

  .donor-img{
    width: 251px;
    height: 150px;
    border-radius: 20px;
    margin-top: 0px;
    margin-left: 2px;
    
  }
  .donor-img:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
  }
  
  


  .details-background-card1{

    margin-top: 0px;
    width: 820px;
    padding: 10px;
    position: absolute;
    transition: 0.3s;
    height: 100px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
}


.details-background-card1:hover{
  box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}





  .donor-session-details{
    color: #006296;
    margin-left: -25px;
  }

  .donor-session-question{
    font-family: 'Poppins';
    font-style: normal;
    text-align:center;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin-left: 100px;
  }

  .donor-session-address{
    margin-top: 0px;
    margin-left: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 19px;
  }

  .session-intro tbody tr{
    
 
  }


  tr{
    
  }

.session-venue-details{
  margin-top: 4px;
}







  
  .donor-join-now-btn{
    margin-left: 85%;
margin-top: -15px;
width: 50%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* img {
    border-radius: 5px 5px 0 0;
  } */
  