body{
    background-color: #F7FFFE;
    margin-top: 0px;
    overflow-x: hidden;
}

/*
.header .top h1{
    position: absolute;
    display: flex;
    margin-left: 260px;
    padding-top: 0px;
    margin-top: 0%;
    text-align: center;
    font-size: 30px;
    color: #006296;
}
*/

.container {
    position: absolute;
    padding-left: 10px;
    padding-right: 0px;
    margin-top: 40px;
    margin-left: 22px;
    margin-right: 0px;
    margin-bottom: 20px;

}
.backboard{
    
    position: absolute;
    margin-left: 220px;
    margin-top: 5px;
    margin-bottom: 880px;
    width: 1240px;
    height:870px;
    background-color: #f4f7fa;
    border-radius: 20px;
   

}







.current-medication{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 400px;
    height: 275px;
    background: #D7F0ED;
    border-radius: 30px;
    padding: 3%;
    
}


.medi-card1{

    margin-top: -15px;
    width: 380px;
    padding: 10px;
   
    transition: 0.3s;
    height: 210px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
}


.medi-card1:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}



.medi-card2{

    margin-top: -15px;
    width: 560px;
    padding: 10px;
    margin-left: 10px;
   
    transition: 0.3s;
    height: 210px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
}



.medi-card2:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}





.medi-card3{

    margin-top:30px;
    width: 380px;
    padding: 10px;
    transition: 0.3s;
    height: 255px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;

}


.medi-card3:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}


.medi-card4{

    margin-top: 35px;
    width: 560px;
    padding: 10px;
   
    transition: 0.3s;
    height: 255px;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
}



.medi-card4:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}





.appointment-details{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40px;

}

.list li{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    color: #006296;
}

.list p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;

    color: #006296;
}

.donor-card-details{
    margin-top:135px;
}

.current-medication h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1px;
    text-align: center;
    color: #006296;
}

.next-appointment h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 1px;
    color: #006296;
}

.next-appointment h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    line-height: 7px;
    color: #006296;
    text-align: center;
}

.next-appointment{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    height:298px;
    width:600px;
    margin-top: 0%;
   
    background: #D7F0ED;
    border-radius: 30px;
    padding: 2%;
    
}

h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1px;
    text-align: center;
    color: #006296;


    /*
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 33px;
    color: #006296;
    margin-left: 50px;
    margin-top: 5px;

    */
}

.donor-reports{
    display:flex;
    justify-content: space-between;
    /*margin-right: 30px;*/
    margin-top: 0%;


   
}

.reports{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 400px;
    height: 320px;
    background: #D7F0ED;
    border-radius: 30px;
    padding: 3%;
    margin-left: 38px;
}

button {
    width: 96px;
    height: 38px; /* Green */
    border: solid 1px #006296;
    border-radius:30px;
    color: white;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #006296;
}

table{
    color: #006296;
  
}

.post-donations{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    /* width: 40%;
    border-radius: 5px; */

    color: #006296;
    width: 580px;
    height: 340px;
    margin-left:0px;
    background: #D7F0ED;
    border-radius: 30px;
    padding: 2%;
    margin-top: 0%;
    margin-bottom: 2px;
    margin-right: 45px;
}

h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1px;
    text-align: center;
    color: #006296;
}


h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 1px;
    text-align: left;
    color: #006296;
}






.session-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 227px;
    margin-top: 2%;
    background: #D7F0ED;
    border-radius: 30px;
    display:flex;
    padding: 2%;
    gap:5%;
}