@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}



body{
    
    background-color: #F7FFFF;
    display: flex;
}



.form-area{
    margin-left: 45%;
    margin-top: 10%;
    width: 55%;
}




.heading{
    display: flex;
    flex-direction: column;
    height: 180px;
    width: 100%;
    
}

.heading-topic{
    position: absolute;
    font-style: normal;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #006296;
}

.heading-topic h1{
    font-weight: 600;
    font-size: 32px;
    text-transform:uppercase;

}


.heading-topic h5{
    font-weight: 200;
    color: #308C83;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 0%;
}

.privacy-stmt{
    margin-top: 15%;
    height: 80%;
    box-sizing: border-box;
    justify-content: center;
    background:#D7F0ED ;
    border:none;
    border-radius: 10px;
    width: 85%;

}
.privacy-stmt p{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 10%;
    color: #006296;
    font-size: 15px;
    width: 105%;
}

.req{
    color: #006296;
    font-size: 18px;
}

.form-content {
    margin-top: 5%;
    width: 92%;

}

.intro_part {
    margin-top: 2%;
    margin-bottom: 2%;
   /* height: 400px;*/
}

.data-input {
    display: inline-block;
    width: 92%;
    
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #006296;
    position: relative;
    padding-top: 0%;


}

.input-area {
    width: 92%;
    height: 45px;
    text-align: justify;
    color: #034870;
    font-size: 15px;
    font-style: normal;
    font-weight: 650;
    word-spacing: 6px;
    box-sizing: border-box;
    border: 2px solid #99dcd3;
    border-radius: 5px;
    padding-left: 2%;

  }
  .input-area:focus{
    outline: 0;
  }

  .input-control.success input {
    border-color: #40d430;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
   
   
    color: #a94442;
    width: 92%;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    height: 35px;
    margin-top: 8px;
  
   
}


/*
.error{
    background: #f2dede;
    color: #a94442;
    width: 50%;
    height: 40px;
    padding: 10px 0;
    border-radius: 15px;
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}


*/







  .contact-info {
    margin-bottom: 2%;
  }

  .contact-topic {
    width: 92%;
  }

  .contact-topic h3{
    display: inline-block;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 650;
    font-size: 22px;
    color: #308C83;
    position: relative;
    
  }

   .calendar-area{
    background-color: #308C83;
    padding: 15px;
    position: relative;
    transform: translate(-50%,-50%);
    color: #ffffff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 17%;
    margin-top: 4%;

}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

   .about-contact{
    margin-top: 16px;
    height: 24%;
    box-sizing: border-box;
    background:#D7F0ED ;
    border:none;
    border-radius: 10px;
    width: 92%;
   }
   
   .about-contact p{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 10%;
    color: #006296;
    font-size: 15px;
    justify-content: center;
    width: 105%;
   }
   .mobile-notice p{
    color: #006296;
    font-size: 15px; 
    width: 92%;
}
  
  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0;
    background: #308C83;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    
 }
 select::-ms-expand {
    display: none;
 }
 .select-list {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #D7F0ED ;
    overflow: hidden;
    border-radius: .25em;
 }
 .select-list::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #D7F0ED;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select-list:hover::after {
    color: #308C83;
 }


 .more-info{
    margin-top: 6%;
    width: 100%;
    margin-bottom: 4.5%;
   }

 .more-info-topic{
    width: 92%;
 }

 .more-info-topic h3 {
    display: inline-block;
    line-height: 30px;
    text-align: justify;
    font-style: normal;
    font-weight: 650;
    font-size: 22px;
    color: #308C83;
    position: relative;
}


  .about-more-info{
    margin-top: 16px;
    box-sizing: border-box;
    background: #D7F0ED;
    border: none;
    border-radius: 10px;
    width: 92%;
  }

   .about-more-info p{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 4%;
    padding-right: 10%;
    color: #006296;
    font-size: 15px;
    justify-content: center;
    width: 105%;
   }
    
    
    .radio-btn{
     display: none;
    }

    .more-info-radio{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 2%;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    color: #006296;
    position: relative;
    
    }
    
    .radio-styled-btn{
        width: 1.25em;
        height: 1.25em;
        border: 2px solid #d8e4db;
        border-radius: 50%;
        margin-right: 10px;
        box-sizing: border-box;
        padding: 2px;
    }
    

    .radio-styled-btn::after{
        content: "";
        width: 100%;
        height: 100%;
        display: flex;
        background: #308C83;
        border-radius: 50%;
        transform: scale(0);
        transition: transform 0.15s;
    }

    .radio-btn:checked  + .radio-styled-btn::after{
        transform: scale(1);
    }

    .final-info {
        margin-bottom: 30%;
    }

    .final-info-topic h3{
        font-weight: 200;
        color: #308C83;
        font-size: 20px;
        text-transform: capitalize;
        margin-top: 0%;

    }


    .create-btn {
        margin-top: 5%;
    }



    
.create{
  
    position: absolute;
    box-sizing: border-box;
    height: 49px;
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid #308C83;
    border-radius: 16px;
    font-size:20px;
    color: #006296;
  }
  
  
  
  .create:hover {
    background-color: #006296;
    color: #F7FFFF;
  }
  
    





