@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;


}



body{
    
    background-color: #F7FFFF;
    display: flex;
}
.header{



    position: absolute;
    width: 166.7%;
    height: 110px;
    left: 0px;
    top: 0px;
    
    background: #006296;
    }
    
    
.container{
    position: absolute;
    margin-top: 0%;
    padding-bottom: 50px;
    width: 60%;
}



.contr{
    width: 100%;
    height:100vh;
   /* background: #3c5077;*/
    display: flex;
    align-items: center;
    justify-content: center;

}






.head h2{
    
    margin-left: 30%;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    color: #030303;


position: absolute;
width: 870px;
height: 53px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: center;
letter-spacing: 0.03em;

color: #006296;
 font-size: 32px;
text-transform:capitalize;
    
    


}



.frms{
    margin-left: 50%;
    width: 100%;
    margin-top: 25%;

 
}
.error{
    background: #f2dede;
    color: #a94442;
    width: 50%;
    height: 40px;
    padding: 10px 0;
    border-radius: 15px;
    margin-left:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}
.inpt{
    top: 50%;
}

.flp{ 


    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.03em;
position: absolute;
width: 100%;
height: 29px;
left: 399px;
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 36px;

letter-spacing: 0.03em;

color: #006296;


    
    





}

.np{
    
    text-align: justify;
    padding-left: 2%;
    color: #636364;
    font-size: 15px;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 6px;
    box-sizing: border-box;
 
   
    border: 2px solid rgba(61, 3, 3, 0.25);
    
    



position: absolute;
width: 55%;
height: 47px;
left: 400px;
border: 1px solid rgba(0, 0, 0, 0.25);
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
border-radius: 12px;






}



.inpt p{

position: absolute;
left: 175px;
top: 62%;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
letter-spacing: 0.03em;

color: rgba(89, 89, 89, 0.5);


}
.mf{
    

position: absolute;

left: 400px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
letter-spacing: 0.03em;
text-align: justify;
color: #006296;


}

.wt1{
  

box-sizing: border-box;

position: absolute;
width: 62px;
height: 47px;
left: 400px;
top: 78%;
text-align: center;
border: 1px solid rgba(0, 0, 0, 0.25);
filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
border-radius: 12px;
}




    
.measure1{



    position: absolute;
    left: 480px;  

 
    top: 79%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #006296;
    
    }







.request{
    display: flex;
    position: absolute;
    width: 15%;
    height:4%;
    left:70%;
    top: 85%;
    margin-bottom: 30%;
    border-radius: 20px;
    border: 2px  rgba(61, 3, 3, 0.25);
    background: #FFFFFF;

    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    cursor: pointer;
    touch-action: manipulation;
    align-items: flex-start;
    box-sizing: border-box;
/*  jdhdjvhfjvhjdfvhjdfhvdfvhdfhdfbhdf*/
/*
.rqt-btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor:pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
*/





}

.rt{
    color: #308C83;
    font-family: 'Poppins';

    font-style: normal;
    padding: 12px 25px;
    font-size: 22.5px;
    text-align: center;
    font-weight: 500;

}

.request:hover{
    background-color: #006296;
    color: #F7FFFF;
}




.bottom{
   
    position:fixed;
    bottom: 0;
    display:table-cell;
    vertical-align:middle;
    background-color:#006296;
    color: #FFFFFF;
    font-size: 10px;
    overflow: hidden;
    width:100%;
    height: 60px;
    text-align:center;
    line-height: 1em;
    left: 0%;
}
.bottom p{
    left: 35%;
}

@media screen and (min-width:900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}




.popup{
    width:400px;
    background: #fff;
    border-radius: 6px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);

}









.popup img{
    width: 100px;
    margin-top:-50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}


.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0px 10px ;

}


.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fd649;
    color:#fff;
    border:0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}




























/* -------------------------------------------------------------------------------------------------------------------------------------------------*/




