body{
    overflow: hidden;
}
.container{
  margin-top: 50px;
}
.checklist-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  
    margin-left: 22%;
    
    background: #D7F0ED;
    border-radius: 20px;
    display:flex;
    padding: 2%;
    gap:5%;
    position: absolute;
    width: 60%;
    height: 55%;
    margin-top: 80px;


  }


  .details{
    color: #006296;
  }

  .selections{


position: absolute;
left: 15%;
right: 12.92%;
top: 5%;
bottom: 77.25%;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 48px;




  
  




  





color: #006296;

  }

.check1{
    left: 500px;



position: absolute;
width: 326px;
height: 29px;
left: 20px;
top: 150px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #006296;







}
.check2{
   
    align-items: right;
position: absolute;
width: 400px;
height: 29px;
left: 375px;
top: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;

color: #006296;








}







.cb{

}

.heading{ 

position: absolute;
width:670px;
top: 2%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 30px;
text-align: justify;

color: #006296;


  }



.pre-btn{



 
  
    position: absolute;
    box-sizing: border-box;
    height: 49px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: center;
    align-items: center;
    padding: 18px 20px;
    gap: 10px;
    background: #FFFFFF;
    border: 2px solid #308C83;
    border-radius: 16px;
    left: 32.4%;
    top: 85%;
  
  }
  
  
  
  
  .pre-btn:hover {
    background-color: #e4e3ff;
  }








/*  
  
box-sizing: border-box;
top:610px;
display: flex;
flex-direction: row;
justify-content: center;
padding: 17.5px 15px;
gap: 10px;
left: 520px;
position: absolute;
width: 100px;
height: 55.3px;


background: #FFFFFF;
border: 2px solid #308C83;
border-radius: 30px;




*/

  


.nxt-btn{
  box-sizing: border-box;

display: flex;
flex-direction: row;
justify-content: center;
padding: 17.5px 15px;
gap: 10px;
box-sizing: border-box;
top:610px;
position: absolute;
width: 100px;
height: 55.3px;
left: 870px;

background: #FFFFFF;
border: 2px solid #308C83;
border-radius: 30px;

}


.fnt{
 
padding-top: none;
width: 224px;
height: 36px;


font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 36px;
top: 10%;
text-align: center;

color: #308C83;


}  


.fnt2{
  
 
    padding-top: none;
    width: 224px;
    height: 36px;
    
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    top: 10%;
    text-align: left;
    
    color: #308C83;
    
    
    }  





.bottom{
   
    position:fixed;
    bottom: 0;
    display:table-cell;
    vertical-align:middle;
    background-color:#006296;
    color: #FFFFFF;
    font-size: 10px;
    overflow: hidden;
    width:100%;
    height: 60px;
    text-align:center;
    line-height: 1em;
    left: 0%;
}
.bottom p{
    left: 35%;
}