*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  background: #308C83;
}

.form-div{
  display: flex;
  flex-wrap: wrap;
  flex: 80%;
  position: absolute;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

.image{
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;
  background-image: url(../images/fp.png);
  background-position: center;
  background-size: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.form-box{
  flex: 50%;
  background-color: white;
  padding: 0 140px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:space-between;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.heading{
  width: 400px;
  margin: 35px auto 10px auto;
  text-align: center;
}

.title{
  font-size: 2.25rem;
}

.input-label{
  font-size: 0.875;
  display: block;
  text-align: justify;
}

.input-field{
  display: flex;
  width: 100%;
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid #999;
  font-size: 14px;
}

::placeholder{
  position: relative;
  left: 5px;
  text-align: justify;
  color: #999;
  font-size: 14px;
}

.ss{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss a{
  text-decoration: none;
  font-size: 16px;
  color: #006296;
  margin-right: 10px;
}

.ss a:hover{
  opacity: .7;
}

.submit-btn{
  width: 25%;
  cursor: pointer;
  display: block;
  background: #ADD8E6;
  border-color: #006296;
  outline: none;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.submit-btn:hover{
  opacity: .7;
}

.cr{
  position: absolute;
  right: 15px;
  bottom: 10px;
  text-align: center;
  color: #777;
  font-size: 12px;
}

.error{
  background: #f2dede;
  color: #a94442;
  width: 60%;
  height: 30px;
  padding: 10px 0;
  border-radius: 15px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

@media (max-width:1050px) {
  .image{
    flex: 100%;
    border-bottom-left-radius: 0;
    border-top-right-radius: 30px;
    height: 300px;
  }
  .form-box{
    flex: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    padding-top: 0;
  }
  .form-div{
    margin-bottom: 100px;
  }
  .cr{
    position:relative;
    bottom: -70px;
  }
}
