body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #F7FFFF;
}

.banner1{
    background-image: url("../../public/images/home1.jpg");
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    color: #006296;
    font-weight: bold; 
}

.banner1 p{
    line-height: 1px;
    font-size: 16px;
}

.more{
    margin-top: 20px;
    text-decoration: none;
    background-color: #308C83;
    border: 1px solid #F7FFFF;
    border-radius: 20px;
    text-align: center;
    padding: 12px 30px;
    color: #F7FFFF;
    font-size: 14px;
    transition: 0.5s;
}

.more:hover{
    background-color: #111212;
    color: #F7FFFF;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.register{
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    color: #308C83;
    text-decoration: none;
    border: 1px solid #308C83;
    border-radius: 20px;
    padding: 12px 30px;
    font-weight: bold;
    transition: 0.5s;
}

.register:hover{
    color: #F7FFFF;
    background-color: #308C83;
}

.banner2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.banner2-sec{
    background-color: #D7F0ED;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin-bottom: 200px;
}

.banner2 h1{
    color: #006296;
    margin: 10px auto;
    font-weight: bold;
}

.banner-img{
    display: flex;
    width: 60%;
    height: 40vh;
    margin: 30px auto;
}

.start{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7FFFF;
    color: #308C83;
    border: 1px solid #308C83;
    border-radius: 20px;
    padding: 12px 30px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 20px;
    transition: 0.5s;
}

.start:hover{
    color: #F7FFFF;
    background-color: #308C83;
}

  
