body{
    background-image: url(../../public/images/bg-hl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-hospital{
    width: 350px;
    margin: 150px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(31, 31, 33) ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: rgb(215, 209, 209);
    z-index: -1;
}

.login-hospital h1{
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.login-hospital p{
    margin: 20px 20px 0px 20px;
    font-size: 16px;
}

.login-hospital input[type="text"],
.login-hospital input[type="password"]{
    width: 90%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.login-hospital a{
    padding-left: 18px;
    text-decoration: none;
    color: rgb(122, 189, 206);
    font-size: 16px;
    font-weight: bold;
}

.login-hospital a:hover{
    color: rgb(40, 232, 229);
}

.login-hospital button{
    margin-left: 70px;
    margin-bottom: 20px;
    padding: 5px;
    height: 40px;
    width: 100px;
    background: rgb(56, 200, 188);
    color: rgb(24, 23, 23);
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

.login-hospital button:hover{
    background: rgb(36, 117, 107);
    cursor: pointer;
    color: rgb(255, 252, 252);
}