body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #F7FFFF;
}

.head h1{
    position: absolute;
    display: flex;
    margin-left: 260px;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 280px;
    padding-top: 20px;
    justify-content: center;
}
.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }
 
 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    background-color: #F1F5F9;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.data{
    background-color: #bde4e0;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 70%;
    height: 550px;
}

.form1{
    background-color: #F7FFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 85%;
    height: 80%;
    color: #006296;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.form1:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.form1 .sbar{
    margin: 20px auto;
    padding: 8px 10px;
    width: 60%;
    border-radius: 20px;
    background-color: #96bdb8;
    color: #F7FFFF;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.form1 .sbar input[type="search"]{
    padding: 2px 20px;
    margin: 5px;
    width: 70%;
    font-size: 14px;
    font-weight: bold;
}

.form1 .sbar button{
    padding: 8px 12px;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    font-weight: bold;
    border-radius: 10px;
}

.form1 .sbar button:hover{
   background-color: #006296;
   color: #F7FFFF;
}

.chart{
    background-color: #F7FFFF;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.chart .image{
    width: 40%;
    height: 30%;
}

.reports{
    background-color: #bde4e0;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 20%;
}

.reports h3{
    color: #006296;
    text-align: center;
}

.reports .types{
    margin: 10px;
    padding: 10px;
    background-color: #F7FFFF;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.types a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    margin: 10px auto;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
    transition: 0.5s;
}

.types a:hover{
    background-color: #006296;
    color: #F7FFFF;
}

