body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #F7FFFF;
}

.top-nav{
    display:grid;
    position:sticky;
    margin-left: 220px;
    grid-template-columns: 300px 600px auto auto;
    align-items: center;
    padding: 5px;
    box-shadow: 4px 4px 5px rgba(0,0,0,0.2);
}

.head h1{
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 20px;
    padding: 10px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }
 
 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.top{
    position: relative;
    display: flex;
    float: right;
    margin: 10px 10px 0 0;
    padding: 10px;
}

.top span{
    padding-left: 10px;
    cursor: pointer;
}

.top p{
    font-size: 14px;
    margin: 5px 0px 20px 10px;
}

.top .Loggedin{
    padding-left: 20px;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    background-color: #f4f7fa;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.data{
    background-color: #d7f0ed;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 40%;
}

.btn{
    margin: 20px 20px;
    padding-bottom: 30px;
}

.goto-list{
    float: right;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;  
}

.goto-list:hover{
    background-color: #006296;
    color: #F7FFFF;
}

.count{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: #F7FFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 5px 20px;
    width: 30%;
    height: 50px;
    color: #006296;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.chart{
    background-color: #F7FFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 85%;
    height: 300px;
    color: #006296;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.chart:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.perc{
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
    display: flex;
    justify-content: space-between;
}

/*
.perc:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}
*/

.perc h2{
    text-align: center;
}

.per{
    width: 30%;
    height: 60%;
    padding: 10px;
    margin-top: 10px;
}

.match{
    margin: 20px;
    padding: 30px;
    background-color: #d7f0ed;
    border-radius: 20px;
    width: 55%;
}

.match h3{
    font-size: 20px;
    font-weight: bold;
    color: #006296;
    text-align: center;
}

.new{
    float: right;
    margin: 10px 30px;
    text-decoration: none;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296 ;
    border-radius: 10px;
    padding: 10px 60px;
    font-size: 14px;
    transition: 0.5s;
    font-weight: bold;
}

.new:hover{
    background-color: #006296;
    color: #F7FFFF;
}

table.list{
    margin: 10px;
    padding: 10px;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
    border: none;
}

table.list th{
    background-color: #308C83;
    color: #F7FFFF;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
}

table.list td{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #006296;
    height: 25px;
}

table.list tr:nth-child(even){
    background-color: #F7FFFF;
}

table.list tr{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

/*
table.list .view{
    text-decoration: none;
    background-color: #F7FFFF;
    color: #308C83;
    border: 1px solid #308C83;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 14px;
    transition: 0.5s;
}

table.list .view:hover{
    background-color: #308C83;
    color: #F7FFFF;
}
*/

table.list .accept{
    color: #006296;
    transition: 0.5s;
}


table.list .accept:hover{
    color: #080909;
}


table.list .delete{
    color: #FF0404;
    transition: 0.5s;
}


table.list .delete:hover{
    color: #940707;
}



