body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #F7FFFF;
}

.head h1{
    position: absolute;
    display: flex;
    margin-left: 260px;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 280px;
    padding-top: 20px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }
 
 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #F1F5F9;
}

.sec1{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #bde4e0;
    color: #006296;
    width: 45%;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

.count{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.count .box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 20px;
    width: 30%;
    border: none;
    border-radius: 20px;
    background-color: #F7FFFF;
    height: 40px;
    color: #006296;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    cursor: pointer;
}

.count .box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.charts{
    margin: 0 10px 20px 10px;
    padding: 20px;
    border: none;
    border-radius: 20px;
    background-color: #F7FFFF; 
    height: 400px;
    text-align: center;
}

.charts:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.perc{
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
    display: flex;
    flex-direction: column;
}
.perc:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.perc h2{
    text-align: center;
}

.per{
    width: 30%;
    height: 40%;
    padding: 10px;
    margin-top: 10px;
}

.sec2{
    margin-top: 20px;
    padding: 10px;
    background-color: #bde4e0;
    width: 50%;
    border: none;
    border-radius: 20px;
}

.sec2 .list{
    margin: 10px;
    float: right;
    width: 25%;
    color: #006296;
    font-weight: bold;
    background-color: #F7FFFF;
    text-decoration: none;
    border: 1px solid #006296;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.sec2 .list:hover{
    background-color: #006296;
    color: #F7FFFF;
}

.sec2 .content{
    margin: 80px 10px 10px 10px;
    width: 91%;
    color: #006296;
    background-color: #bde4e0;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    padding: 20px;
}

.sec2 .content h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.sec2 .content .session{
    margin: 10px;
    background-color: #F7FFFF;
    color: #006296;
    border: none;
    border-radius: 20px;
    width: 95%;
    padding: 6px;
    cursor: pointer;
}

.sec2 .content .session:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.sec2 .content .session h3{
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1px;
}

.sec2 .content .session p{
    padding-left: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1px;
}