body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.clinician_list{
    position: absolute;
    margin-left: 800px;
    margin-top: 200px;
    width: 150px;
    height: 20px;
    background-color: #1a4ec6 ;
    color: #ededed;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid #0c0d0d;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.5s;
}

.clinician_list:hover{
    background-color: #180848;
    color: aqua;
}
