body{
    background-image: url(../../public/images/bg-hl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin: 0px;
    font-family: Poppins, sans-serif;
}

.login-hospital{
    width: 450px;
    margin: 150px auto;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgb(31, 31, 33) ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F7FFFF;
    color: #707076;
    z-index: -1;
    box-shadow: 0 0 1.5rem rgba(24, 22, 36, 0.3);
}

.login-hospital h1{
    text-align: center;
    font-size: 25px;
    margin: 20px;
    line-height: 10px;
}

.login-hospital h4{
    margin: 0px 20px;
    font-size: 12px;
    font-weight: 1;
    text-align: center;
}

.login-hospital p{
    margin: 30px 20px 0px 20px;
    font-size: 16px;
    font-weight: bold;
}

.login-hospital input[type="text"],[type="password"]{
    width: 95%;
    color: #707076;
    background: transparent;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 14px;
    line-height: 10px;
}

.bottom{
    float: left;
    display: flex;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.rem{
    padding-right: 10px;
    color: rgb(165, 242, 252);
    font-size: 16px;
}
*/

.reset{
    padding-left: 10px;
    text-decoration: none;
    color: #707076;
    font-weight: bold;
    transition: 0.5s;
}

.reset:hover{
    color: #006296;
}

.login_btn{
    margin: 20px auto;
    padding: 10px 20px;
    width: 95%;
    background-color: #F7FFFF;
    color:#006296;
    border: 1px solid #006296;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s;
}

.login_btn:hover{
    background: #006296;
    cursor: pointer;
    color: #F7FFFF;
}

.check_login{
    background-color: black;
    color: #fff;
}

.errors{
    background-color: black;
    color: #fff;
    font-weight: bold;
}