body{
    background-image: url(../../public/images/bg-hl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.login-hospital{
    width: 350px;
    margin: 150px auto;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid rgb(31, 31, 33) ;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(51, 51, 51, 0.8);
    color: rgb(215, 209, 209);
    z-index: -1;
}

.login-hospital h1{
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.login-hospital p{
    margin: 20px 20px 0px 20px;
    font-size: 16px;
}

.login-hospital input[type="text"],[type="password"]{
    width: 90%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
}

.bottom{
    float: left;
    display: flex;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*
.rem{
    padding-right: 10px;
    color: rgb(165, 242, 252);
    font-size: 16px;
}
*/

.reset{
    padding-left: 10px;
    text-decoration: none;
    color: rgb(175, 242, 251);
}

.reset:hover{
    color: rgb(98, 239, 185);
}

.login_btn{
    margin-left: 100px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background: rgb(56, 200, 188);
    color: black;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

.login_btn:hover{
    background: rgb(11, 37, 125);
    cursor: pointer;
    color: #fff;
}