body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7FFFF;
}

.add_clinician{
    position: relative;
    background-color: #66b1b1;
    margin: 100px auto;
    padding: 20px;
    width: 600px;
    border: 1px solid #404343;
    border-radius: 20px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.3);
}

.add_clinician h1{
    margin: 20px auto;
    padding-bottom: 20px;
    text-align: center;
}

form.add_clinician_form label{
    width: 30%;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

form.add_clinician_form input[type="text"],[type="email"],[type="password"]{
    width: 60%;
    border-radius: 10px;
    line-height: 20px;
}

.btn{
    width: 200px;
    background-color: #0e316a;
    color: #b5ecec;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.btn:hover{
    background-color: #101010;
    color: #F7FFFF;
    cursor: pointer;
}

.err{
    background-color: #f61313;
    color: #F7FFFF;
    width: 800px;
    font-weight: bold;
    margin-top: 20px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #181919;
    border-radius: 10px;
}

a{
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #2638d5;
    color: #F7FFFF;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    width: 50px;
    height: 20px;
    border: 1px solid #101010;
    border-radius: 10px;
    transition: 0.5s;
}

a:hover{
    background-color: #000000;
    color: #73dcdc;
}

.back_btn{
    background-color: #0e316a;
    color: #F7FFFF;
    font-weight: bold;
    width: 180px;
    border: 1px solid #101010;
    border-radius: 10px;
    padding: 10px 10px 20px 10px ;
    transition: 0.5s;
}

.back_btn:hover{
    cursor: pointer;
    background-color: #101010;
    color: #73dcdc;
}


