body{
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #F7FFFF;
}

.head h1{
    position: absolute;
    display: flex;
    margin-left: 260px;
    padding-top: 0px;
    text-align: center;
    font-size: 30px;
    color: #006296;
}

.search{
    display: flex;
    margin-left: 280px;
    padding-top: 20px;
    justify-content: center;
}

.search-bar{
    border: 1px solid #ccc;
    border-radius: 30px;
    width: fit-content;
    height: 30px;
    width: 40%;
    display: flex;
    align-items: center;
    overflow-x: hidden;
 }

.search-bar span{
    display: inline-block;
    padding: 5px;
    font-size:14px ;
 }
 
 .search-bar input{
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
 }

.search-bar span{
    padding-left: 10px;
    cursor: pointer;
}
.search-bar .Loggedin{
    padding-left: 50px;
    padding-right: 50px;
    margin: 0px 20px;
    width: 80%;
}

.board{
    position: absolute;
    margin-left: 240px;
    margin-top: 30px;
    width: 80%;
    background-color: #f4f7fa;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.data{
    background-color: #d7f0ed;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    width: 70%;
}

.btn{
    margin: 20px 20px;
    padding-bottom: 30px;
}

.goto-transplant-list{
    float: right;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    border-radius: 20px;
    padding: 10px 20px;
    transition: 0.5s;   
}

.goto-transplant-list:hover{
    background-color: #006296;
    color: #F7FFFF;
}

.count{
    display: flex;
    justify-content: space-between;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: #F7FFFF;
    color: #006296;
    font-weight: bold;
    text-align: center;
    line-height: 10px;
    border-radius: 20px;
    padding: 20px;
    margin: 5px 20px;
    width: 30%;
    height: 50px;
    cursor: pointer;
}

.box:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.chart{
    background-color: #F7FFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 85%;
    height: 300px;
    cursor: pointer;
    color: #006296;
    font-weight: bold;
    text-align: center;
}

.chart:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

.perc{
    margin: 10px auto;
    padding: 20px;
    width: 80%;
    height: 60%;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: bold;
    color: #006296;
    display: flex;
    justify-content: space-between;
}

/*
.perc:hover{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}
*/

.perc h2{
    text-align: center;
}

.per{
    width: 30%;
    height: 60%;
    padding: 10px;
    margin-top: 10px;
}

/*
.sec{
    background-color: #a7c7c4;
    border-radius: 20px;
    padding: 30px 20px;
    margin: 20px;
    width: 30%;
}
*/

.transplant{
    margin: 20px;
    padding: 20px;
    background-color: #d7f0ed;
    border-radius: 20px;
    width: 80%;
}

.transplant h3{
    font-size: 20px;
    font-weight: bold;
    color: #006296;
    text-align: center;
}

table.list{
    margin: 20px;
    padding: 20px;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
    border: none;
}

table.list th{
    background-color: #308C83;
    color: #F7FFFF;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    height: 25px;
}

table.list td{
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #006296;
    height: 25px;
}

table.list tr:nth-child(even){
    background-color: #F7FFFF;
}

table.list tr{
    box-shadow: 0 0 1.0rem rgba(24, 22, 36, 0.3);
}

table.list .new{
    text-decoration: none;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    border-radius: 10px;
    padding: 10px 30px;
    font-size: 14px;
    transition: 0.5s;
}

table.list .new:hover{
    background-color: #006296;
    color: #F7FFFF;
}

table.list .send{
    text-decoration: none;
    background-color: #F7FFFF;
    color: #006296;
    border: 1px solid #006296;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 14px;
    transition: 0.5s;
}

table.list .send:hover{
    background-color: #006296;
    color: #F7FFFF;
}

table.list .delete{
    text-decoration: none;
    background-color: #F7FFFF;
    color: #FF0404;
    border: 1px solid #FF0404;
    border-radius: 10px;
    padding: 8px 20px;
    font-size: 14px;
    transition: 0.5s;
}

table.list .delete:hover{
    background-color: #FF0404;
    color: #F7FFFF;
}
