body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7FFFF;
    display: flex;
}

.nav1{
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #006296;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  height: 70px;
  margin-right: 20px;
}

.nav1 h1{
  font-size: 28px;
  color: white;
}

.login{
  float: right;
  background-color: #FFFFFF;
  border: 1px solid #308C83;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 20px;
  text-decoration: none;
  color: #006296;
  font-weight: bold;
  transition: 0.5s;
}

.login:hover{
  color: #0b0b0b;
  background-color: #5fe4d7;
}

.nav2{
  top: 90px;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #308C83;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu{
  padding: 5px 20px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.menu:hover{
  color: #308C83;
  background-color: #FFFFFF;
}

.banner1{
  width: 100%;
}

.img1{
  width: 100%;
  height: 70vh;
  z-index: -1;
}