body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7FFFF;
    display: flex;
}

.nav{
  width: 100%;
  height: 70px;
  background-color: #006296;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo{
  height: 70px;
  margin-right: 20px;
}

.site{
  flex: 80%;
  display: flex;
  justify-content: left;
  color: white;
}

.site h1{
  font-family: cursive;
}

button{
  width: 100px;
  height: 40px;
  font-size: 20px;
  background: #72C2DF;
  border: none;
  border-radius: 5px;
}

button a{
  text-decoration: none;
  color: white;
}
