*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.main{
  display: flex;
  background: white;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.top-des{
  flex: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #006296;
  color: white;
}

.top-des h1{
  margin: 10px;
}

.top-des h3{
  margin: 0;
  text-align: center;
}

.form-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 85%;
  width: 100%;
  background: #F1F5F9;
}

.image{
  flex: 30%;
  height: 480px;
  padding: 20px;
  background-image: url(../images/reset.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  margin-top: 0;
  margin: 60px;
  margin-right: 30px;
}

.form-box{
  flex: 40%;
  height: 480px;
  background-color: #bde4e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-radius: 30px;
  margin: 60px;
  margin-left: 30px;
}

.heading{
  width: 350px;
  height: auto;
  margin: 10px auto;
  border-radius: 30px;
  text-align: center;
}

.title{
  color: #555;
  font-size: 30px;
  font-weight: bolder;
}

.reset_password{
  padding: 10px;
  width: 500px;
}

.input-label{
  font-size: 16px;
  font-weight: bold;
  display: block;
  text-align: left;
}

.input-field{
  display: flex;
  width: 100%;
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid #999;
  font-size: 14px;
}

::placeholder{
  position: relative;
  left: 5px;
  text-align: justify;
  color: #999;
  font-size: 14px;
}

.ss{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ss a{
  text-decoration: none;
  font-size: 15px;
  color: #006296;
  margin-right: 10px;
}

.ss a:hover{
  opacity: .7;
}

.submit-btn{
  width: 35%;
  cursor: pointer;
  display: block;
  background: #ADD8E6;
  border-color: #006296;
  outline: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
}

.submit-btn:hover{
  opacity: .7;
}

.cr{
  position: relative;
  right: 0;
  bottom: -20px;
  text-align: center;
  color: #777;
  font-size: 12px;
}

.error{
  background: #f2dede;
  color: #a94442;
  width: 85%;
  height: 40px;
  padding: 10px 0;
  border-radius: 15px;
  margin: 0 auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

/*@media (max-width:1050px) {
  .image{
    flex: 100%;
    height: 300px;
  }
  .form-box{
    flex: 100%;
    padding-top: 0;
  }
  .top-des{
    height: 150px;
  }
  .form-div{
    margin-bottom: 100px;
    top: 150px;
  }
  .cr{
    position:relative;
    bottom: -70px;
  }
  .heading{
    width: 250px;
  }
  .title{
    font-size: 50px;
  }
  .submit-btn{
    width: 150px;
  }
}*/
