@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');




*{
    margin: 0;
    padding: 0;

}





body{
    background-image: url(../../public/images/session.png);
    
    
    

}

.container{
    margin-left: 10%;
    margin-top: 10%;
}




.head{

/* Join Session */

position: absolute;
width: 397px;
height: 54px;
left: 182px;
top: 121px;


font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;



/* identical to box height */
text-align: center;

color: #FFFFFF;


}

.name{

/* Name */

position: absolute;
width: 69px;
height: 29px;
left: 175px;
top: 285px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;


}

